<div class="jumbotron">
  <h2>Welcome to Demo</h2>
  <p class="lead">Simple application with experiment.</p>
</div>

<div class="btn-subscribe">
    <%= link "Land to experiment",
        to: front_experiment_path(@conn, :index),
        class: "btn btn-primary btn-lg btn-sub",
        name: "frontend_experement_button"
    %>
</div>
